#gls_row
  img(src='/image/gls_head.jpg', style='width:100%')

#gls_ver.row
  #gls_verNav
    ul#gls_navBar.nav.flex-column.nav-pills
      li.nav-item
        a.nav-link(id='home', href='#') Home
      li.nav-item
        a.nav-link(id='studentinfo', href='#SI') Student Info
      li.nav-item
        a.nav-link(id='courseinfo', href='#CI') Course Info
      li.nav-item
        a.nav-link(id='coursebag', href='#CB') Course Bag
      li.nav-item
        a.nav-link(id='gotosugang', href='/sugang') Go To Sugang
  #gls_content
    .tab-content
      .tab-pane(id='home_content')
        center
          img(src='/image/gls_home.jpg')
      .tab-pane(id='studentinfo_content')
        include student_content/studentinfo_content.pug
      .tab-pane(id='courseinfo_content')
        include student_content/courseinfo_content.pug
      .tab-pane(id='coursebag_content')
        include student_content/coursebag_content.pug