#register_popup.popup.fixed-bottom.bg-white
  center
    form(id = "register_form")
      p Student ID 
        input(type='text', name='student_id')
      p Password 
        input(type='password', name='password')
      p Name 
        input(type='text', name='name')
      p Birth 
        input(type='date', name='birth')
      p Department 
        input(type='text', name='department')
      button.btn.btn-light(type='button', onclick='registerStudent()') Register
      
#login_popup.popup.fixed-bottom.bg-white
  center
    form(id = "login_form")
      p Student ID 
        input(type='text', name='student_id')
      p Password 
        input(type='password', name='password')
      button.btn.btn-light(type='button', onclick='login()') Login

.navbar.navbar-light.navbar-expand-lg.fixed-bottom(style='background-color: white')
  .nav-item
    button.btn.btn-light(type='button', onclick="hideNavi()") Hide/Show Navigation Bar
  .nav-item
    button.btn.btn-light(type='button', onclick="changeTableStyle()") White/Black Table Style
  if !student_id
    button.corner.btn.btn-info.btn-lg(type='button', style='right: 100px', onclick='showRegister()') Sign up
    button.corner.btn.btn-success.btn-lg(type='button', style='right: 10px', onclick='showLogin()') Login
  else
    p User : #{student_id}
    button.corner.btn.btn-info.btn-lg(type='button', style='right: 110px', onclick="window.location.href='/gls'") GLS
    button.corner.btn.btn-warning.btn-lg(type='button', style='right: 10px', onclick='logout()') Logout