h1 {
	background-image: url("../image/academics.jpg");
	font-size: 100px;
	color: white;
	text-align: center;
	vertical-align: center;
	margin-top: 120px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 25px;
	color: #2962e5;
	font-style: italic;
	margin-top: 120px;
}

p {
	font-size: 18px;
	margin : 10px;
}

table {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	margin:20px;
}

td {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dddddd; 
	font-size: 20px;
	padding: 5px;
}

body {
	margin: 20px;
	margin-bottom: 120px;
}

.corner {
	position: absolute;
	bottom:10px;
}

#my_nav {
	background-color: white;
}

.popup {
	padding-bottom: 5em;
	display: none;
}

#gls_row {
	margin: 0px;
	padding: 0px;
}

#gls_ver {
	height: 88vh;
	margin-top: 0px;
	margin-left: 10px;
}

#gls_verNav {
	width: 20%;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: #0066CC;
}

#gls_navBar {
	margin: 10px;
}

#gls_content {
	width: 70%;
	margin: 10px;
}

#sugang_ver {
	height: 95vh;
	margin-top: 0px;
	margin-left: 10px;
}

#sugang_info {
	width: 20%;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: gray;
}

#sugang_content {
	width: 70%;
	margin: 10px;
}

.td_head {
	font-weight: bold;
}

.list_table {
	width: 100%;
}

.list_table td {
	text-align: center;
	font-size: 1em;
	padding: 10px;
}