h3 Course List

table.list_table.table-bordered
  tbody
    tr
      td.td_head Class ID
      td.td_head Class Name
      td.td_head Professor
      td.td_head Credit
      td.td_head Maximum Students
      td.td_head Now Registered Students
  tbody.list_table_content