h3 Course List

table.list_table.table-bordered
  tbody
    tr
      td.td_head Class ID
      td.td_head Class Name
      td.td_head Professor
      td.td_head Credit
      td.td_head Maximum Students
      td.td_head Put in Bag
  tbody#coursebag_content1

h3 Course Bag

table.list_table.table-bordered
  tbody
    tr
      td.td_head Class ID
      td.td_head Class Name
      td.td_head Professor
      td.td_head Credit
      td.td_head Maximum Students
      td.td_head Number of Registered Students
      td.td_head Put out from Bag
  tbody#coursebag_content2