h3 Student Info

table.list_table.table-bordered
  tbody
    tr
      td.td_head(colspan=2) Name
      td#student_info_name(colspan=2)
    tr
      td.td_head(colspan=2) Student ID
      td#student_info_id(colspan=2)
    tr
      td.td_head Birth
      td#student_info_birth
      td.td_head Allowable Credits
      td#student_info_credit
    tr
      td.td_head(colspan=2) Major
      td#student_info_department(colspan=2)